.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}

@keyframes looper {
  0% {
    left:0;
  }
  100% {
    left:-300vw;
  }
}

.name-title {
  font-family: Fenix;
  color: transparent;
  background-color: black;
  font-size: 3em;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px white;
  position: fixed;
  min-width: 100vh;
  white-space: nowrap;
  margin: 0;
  line-height:1;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: rotate(-90deg) translate(-25%, 100%);
}
.name-title span {
  margin-right: 50px;
  margin-left:0;
}

.fullscreen-shader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
